html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
html,
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #474747;
}
li {
  list-style-type: none;
}
// пришиваем footer к дну страницы
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
//
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.accent-btn {
  color: #474747;
  width: fit-content;
  background-color: #ffe824;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
    font-size: 14px;
}
h2[class$="title"] {
  color: #13287e;
  font-size: 72px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
h3[class$="title"] {
  @extend h2[class$="title"];
  font-size: 35px;
  font-weight: 400;
}


p[class$="text"] {
  line-height: 35px;
  font-weight: 300;
 }
